html {
  --top-spacing: 150px;
  scroll-padding-top: var(--top-spacing); }

body {
  background-color: #FEFFDE;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #382933;
  margin: 0;
  margin: var(--top-spacing) auto;
  width: 80%; }

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0; }

header {
  background-color: #91C788;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 1%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999; }
  header .headerLink {
    height: min-content;
    align-self: center; }

.logo {
  height: 78px;
  filter: invert(95%) sepia(7%) saturate(1307%) hue-rotate(37deg) brightness(101%) contrast(105%);
  margin: 1%;
  margin-left: 10px; }

.boina {
  height: 78px;
  filter: invert(95%) sepia(7%) saturate(1307%) hue-rotate(37deg) brightness(101%) contrast(105%);
  margin: 1%;
  margin-right: 12px; }

.menuHolder {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

.barraMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center; }
  .barraMenu li {
    float: left;
    margin: 0.2rem;
    height: fit-content;
    display: list-item;
    font-size: 2rem;
    padding-left: 1%;
    padding-right: 1%; }
    .barraMenu li a {
      display: block;
      text-align: center;
      color: #DDFFBC;
      text-decoration: none; }
    .barraMenu li a:hover {
      color: #FEFFDE; }
    .barraMenu li a:link, .barraMenu li a:visited {
      color: #DDFFBC;
      text-decoration: none; }

.hamburgerButton {
  display: none;
  background-color: #DDFFBC;
  border-color: #91C788;
  align-self: center;
  margin-bottom: 5%;
  font-size: 1.5rem; }

.menuToggle {
  display: block; }

@media only screen and (max-width: 768px) {
  .hamburgerButton {
    display: block; }
  .menuToggle {
    display: none; }
    .menuToggle .barraMenu {
      flex-direction: column; }
      .menuToggle .barraMenu li {
        display: inline-block;
        width: 100%;
        text-align: center; } }

footer {
  display: flex;
  justify-content: center; }

.svgMultimedia {
  filter: invert(86%) sepia(11%) saturate(1206%) hue-rotate(61deg) brightness(87%) contrast(82%); }

#productHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  justify-items: center; }
  #productHolder .productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #91C788;
    border-radius: 5px;
    background-color: #DDFFBC;
    margin: 1%;
    padding: 10px;
    width: 250px;
    height: 350px; }
    #productHolder .productCard img {
      margin-top: 10px;
      width: 150px;
      height: 150px; }
    #productHolder .productCard .dataHolder h4 {
      color: #91C788;
      font-weight: bolder;
      text-align: center; }
    #productHolder .productCard .dataHolder p {
      text-align: center; }
    #productHolder .productCard form {
      display: flex;
      justify-content: center;
      width: 230px; }

#procesando {
  display: none;
  background-color: #FEFFDE;
  border: 3px solid #FFE194; }
  #procesando p {
    width: 250px;
    text-align: center;
    color: #dcddc9; }

#compraRealizada {
  display: none;
  background-color: #FEFFDE; }
  #compraRealizada p {
    width: 250px;
    text-align: center;
    color: #382933; }
