html {
    --top-spacing: 150px;
    scroll-padding-top: var(--top-spacing);
}
body{
    background-color: $Clear;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: $Dark;
    margin: 0;
    margin: var(--top-spacing) auto;
    width: 80%;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin: 0;
}