.div1{
    background-color: $Yellow;
    height: 100px;
    width: 100px;
};
.div2{
    background-color: $Yellow-Dark;
    height: 100px;
    width: 100px;
};
.div3{
    background-color: $White;
    height: 100px;
    width: 100px;
};
.div4{
    background-color: $Green;
    height: 100px;
    width: 100px;
};
.div5{
    background-color: $Green-Dark;
    height: 100px;
    width: 100px;
};
.dark{
    color: $Dark;
}