

#productHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    justify-items: center;
    .productCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid $Secondary-Dark;
        border-radius: 5px;
        background-color: $Secondary;
        margin: 1%;
        padding: 10px;
        width: 250px;
        height: 350px;
        img{
            margin-top: 10px;
            width: 150px;
            height: 150px;
        }
        .dataHolder{
            h4{
                color: $Secondary-Dark;
                font-weight: bolder;
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
        form{
            display: flex;
            justify-content: center;
            width: 230px;
        }
    }
}
#procesando{
    display: none;
    background-color: $Clear;
    border: 3px solid $Primary-Dark;
    p{
        width: 250px;
        text-align: center;
        color: $Clear-Dark;
    }
}
#compraRealizada{
    display: none;
    background-color: $Clear;
    p{
        width: 250px;
        text-align: center;
        color: $Dark;
    }
}
@media only screen and (max-width: $small-PC){
    #productHolder{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: $tablet){
    #productHolder{
        grid-template-columns: 1fr;
    }
}